@font-face {
  font-family: Catamaran;
  src: url(font/Catamaran/Catamaran-VariableFont_wght.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(font/Open_Sans/OpenSans-Regular.ttf)
        url(font/Open_Sans/OpenSans-SemiBold.ttf)
}

*  {
    font-family: 'Open Sans', sans-serif;
}

:lang(zh)  {
    font-family: 'Noto Sans HK', sans-serif;
}

:lang(zh-Hant)  {
    font-family: 'Noto Sans HK', sans-serif;
}

.body {
        background-color: #1B262C;
}

/* HEADER STYLE */
.brand-logo {
    width: 5rem;   
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: .1rem;
}

.navbar-brand {
    text-decoration: none;
    color: black;
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    font-size: 1.6rem;
}

.navbar-brand-eng {
    font-family: 'Catamaran';
}


.navbar-light {
    background-color: #e3f2fd;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, .1);
    z-index: 100;
}

.nav-item {
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.45);
}

.dropdown-item:active {
    background-color: #e3f2fd;
    color: #000000;
}

.dropdown-item.active{
    background-color: #e3f2fd;
    color: #000000;
    font-weight: 700;
}

@media (min-width: 992px) {
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ display: none; }
}	



.header-container a:hover {
  color: black;
}

@media (max-width: 426px) {
    .brand-logo {
        width: 3.5rem;   
}
    .navbar-brand {
        font-size: 1.2rem;
}
    h6 {
        font-size: .7rem;
    }
    .home-title {
        font-size: 1.6rem;
    }
}

header {
    background-color: white;
    z-index: 100;
}

.header-container {
    padding: 1.5rem 1rem 1.5rem 3.5rem;
}


#navbarSupportedContent {
    font-size: 1rem;
    margin-left: 3rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
}

.navbar-text {
    margin-right: 3rem;
    font-weight: 400;
}

.navbar-toggler {
    margin-left: 3rem;
}
@media (max-width: 426px) {
    .header-container {
    padding: 1rem 1rem 1rem 1.6rem;
}
    .navbar-toggler {
    margin-left: 0rem;
}
}

/* CONTENT STYLE */
main {
    padding: 3rem 10rem 3rem 10rem;
    background-color: #81adde;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    background-image: url('images/home_section.jpg');
}

#intro, #people, #workshop, #seminar {
    background-image: url('images/intro_section.jpg');
}

#photo {
    background-image: url('.jpg');
}

.main-text {
  font-weight: 1000;
  background-image: linear-gradient(#b9e1ff, #b9e1ff);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% .2rem;
}

.main-text:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
}

.main-text {
  transition: background-size .4s, background-position .2s ease-in .4s;
}
.main-text:hover {
  transition: background-position .4s, background-size .2s ease-in .4s;
}

.home-content {
    color: #000000;
    background-color: white;
    background-color: rgb(255, 255, 255, .95);
    padding: 3rem;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, .1);
    z-index: 1;
}

#home-section-wrap {
    background-color: #1d2e3b;
}

.home-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 3rem 1rem 1rem 1rem;
    z-index: 2;
}

.section-content {
    color: #000000;
    background-color: white;
    background-color: rgb(255, 255, 255, .95);
    margin: 0 1rem;
    margin-bottom: 2rem;
    list-style: none;
}

.section-content h5 {
    padding: 0.7rem 3rem 0 3rem;
}

.section-content p {
    font-size: 0.9rem;
    color: darkgray;
    padding: 0rem 2rem 1.5rem 2rem;
    display: flex;
}

.img-wrap {
    overflow: hidden;
}

.section-content img {
    width: 100%;
    transition: ease .8s;
}

.section-content img:hover {
    transform: scale(1.2);
}

.section-content li:before {
    content:        "";
    border-color:   transparent #111;
    border-style:   solid;
    border-width:   0.35rem 0 0.35rem 0.45rem;
    display:        block;
    height:         0;
    left:           -1rem;
    position:       relative;
    top:            1.1rem;
    width:          0;
}

@media (max-width: 426px) {
.home-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 1rem 1rem 1rem;
}

.section-content {
    margin: 0 .5rem;
    margin-bottom: 1rem;
}
    
.section-content h5 {
    padding: 0.2rem 3rem 1rem 3rem;
    font-size: 1rem;
}

.section-content p {
    display: none;
}

.section-content li:before {
    left:           -1rem;
    position:       relative;
    top:            .98rem;
    width:          0;
}
    
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 87%;
}

@media (min-width: 2200px) {
.home-section {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 1rem 1rem 1rem;
}
}


@media (max-width: 991px) {
    main {
    padding: 3rem 3rem 3rem 3rem;
    }
    .home-content {
    padding: 2.5rem;
}
}
@media (max-width: 426px) {
    main {
    padding: 2rem 1.5rem 2rem 1.5rem;
}
    .home-content {
    padding: 2rem;
}
}

@media (min-width: 565px) {
    .expand {
    display:block;
        padding-bottom: 12rem;
}
}

h5 {
    font-weight: 700;
}

#people h5 {
    padding-top: 1.6rem;
}
.people-table {
    margin: 1rem 0;
}

.people-name {
    font-weight: 700;
}

#people .table-light, .table-light>td, .table-light>th {
    background-color: rgb(0,0,0,0);
}

#people tbody tr {
    border-bottom: solid 1px #bfd9ec;
}

#people .table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
    border-color: #bfd9ec;
}

@media (max-width: 426px) {
.people-table td {
    display: block;
    padding: .2rem 0;
}
    .people-table thead {
        display: none;
    }
    #people tbody tr {
    display: block;
    padding: .3rem 0;
}
    #people .table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
    border-color: rgb(0,0,0,0);
}
}

@media (max-width: 766px) {
    #workshop a, #seminar a, #photo a {
    overflow: hidden;
    display:flex;
}
}

#map li {
    list-style: none;
}

.map-item li {
    padding-bottom: .5rem;
}

/* FOOTER STYLE */
footer {
    background-color: #1B262C;
    position: relative;
    width: 100%;
}

.footertext {
    color: rgba(255, 255, 255,.5);
}

.footertext a {
    text-decoration: none;
    color: rgba(255, 255, 255,.5);
}

.footcontainer {
    padding: 1.5rem 3rem 1.5rem 3rem;
}

.right {
    float: right;
}

@media (max-width: 575px) {
    .footcontainer {
    padding: 1rem 3rem 0rem 3rem;
    }
    
    .left {
        text-align: center;
    }
    .right {
        float: inherit;
        text-align: center;
    }
    
}
/* TEXT ADJUSTMENT */
.text-small {
    font-size: .9rem;
}
@media (max-width: 426px) {
    .text-small {
        font-size: .7rem;
    }
}

.d-sm-inline {
    margin: auto;
    margin-bottom: 1rem;
}

.text-pad1 {
    padding: 0 .7rem 0 0;
}

.text-pad2 {
    padding: 0 0 0 .7rem;
}

/* EFFECT */
